.GrocerQuick{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.Gestion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Comienza{
    color: aliceblue;
    background-color:#005b35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    

}


.Simplifica{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(52, 49, 56);
}
